.soc1als {

    &-list {
        display: flex;
        column-gap: 20px;
    }

    &-link {
        @include flex-center;
        @include square(30px);

        color: var(--color-dark);
        background-color: var(--color-light);
        border-radius: 50%;
        svg {
            width: 50%;
            height: 50%;
        }

        @include hover {
            background-color: var(--color-accent);
        }
    }
}